// 公共变量
$color-primary: #bb422e;
$color-default: #333;
$color-secondary: #666;
$color-tertiary: #999;
$color-placeholder: #aaa;
$color-white: #fff;
$color-gold: #e9ce9a;
$color-success: #3fcf57;
$color-important: #bb422e;

$color-bg-default: #f7f7f7;

$color-btn-primary: #fcedd4;
$color-btn-secondary: #55380f;
$color-btn-bg-secondary: #dfb58c;
